<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="https://github.com/Muzola/bootcamp">Anthony</a>. A new developer who is on his path to become an entrepreneur using his new found skillset.
  </p>
  <br />
  <p>
    Even at his young age he has tried out a few different carrer paths, but never has been more passionate than he is about coding.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-1">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Anthony Mazzola</h2>
    <br />
    <p>
      Anthony Mazzola is a new programmer who has taken his first steps into the tech industry 
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />


</div>